<button nz-button nzType="default" (click)="routeTo('map-basic/init')">地图的初始化</button>
<button nz-button nzType="default" (click)="routeTo('map-basic/style')">地图样式的设置</button>
<button nz-button nzType="default" (click)="routeTo('map-basic/angle')">地图角度和缩放的设置</button>
<button nz-button nzType="default" (click)="routeTo('map-basic/fly')">地图中心设置及漫游</button>
<button nz-button nzType="default" (click)="routeTo('map-basic/control')">地图操作设置</button>
<button nz-button nzType="default" (click)="routeTo('map-basic/widget')">地图控件设置</button>
<button nz-button nzType="default" (click)="routeTo('map-basic/marker')">地图标记和弹窗</button>
<button nz-button nzType="default" (click)="routeTo('map-basic/event')">地图事件监听</button>
<button nz-button nzType="default" (click)="routeTo('map-basic/projection')">地图投影</button>
