<button nz-button nzType="default" (click)="routeTo('map-plugin/compare')">比较两个地图</button>
<button nz-button nzType="default" (click)="routeTo('map-plugin/draw')">地图上绘制多边形</button>
<button nz-button nzType="default" (click)="routeTo('map-plugin/export')">地图截取控件</button>
<button nz-button nzType="default" (click)="routeTo('map-plugin/infobox')">infobox</button>
<button nz-button nzType="default" (click)="routeTo('map-plugin/style-switch')">样式切换控件</button>
<button nz-button nzType="default" (click)="routeTo('map-plugin/minimap')">小地图控件</button>
