<button nz-button nzType="default" (click)="routeTo('map-layer/fill')">Fill样式图层</button>
<button nz-button nzType="default" (click)="routeTo('map-layer/line')">Line样式图层</button>
<button nz-button nzType="default" (click)="routeTo('map-layer/symbol')">Symbol样式图层</button>
<button nz-button nzType="default" (click)="routeTo('map-layer/circle')">Circle样式图层</button>
<button nz-button nzType="default" (click)="routeTo('map-layer/fill-extrusion')">FillExtrusion样式图层</button>
<button nz-button nzType="default" (click)="routeTo('map-layer/hill-shade')">HillShade样式图层</button>
<button nz-button nzType="default" (click)="routeTo('map-layer/heatmap')">Heatmap样式图层</button>
<button nz-button nzType="default" (click)="routeTo('map-layer/raster')">Raster样式图层</button>
<button nz-button nzType="default" (click)="routeTo('map-layer/background')">Background样式图层</button>
